<div>
    <% @teams.each do |team| %>
         <h1><%= team.name %></h1>
        <% team.users.each do |user|%>
        <ul>
            <img src="<%=user.photo%>" alt="" style="width:50px; height:50px; border-radius:50%;">
            <li><%= user.firstname.capitalize %> <%= user.lastname.capitalize %></li>
            <li><%= user.type%></li>    
                <li><%user.specialities.each do |spec| %>
                    <%= spec.name %>
                <%end%></li>
        </ul>        
        <%end%>
    <%end%>
</div>