<div>
    <% @teams.each do |team| %>
         <h1><%= team.name %></h1>
        <% team.users.each do |user|%>
        <ul>
            <%= link_to "View staff", user_path(user) %>
            <img src="<%=user.photo%>" alt="" style="width:50px; height:50px; border-radius:50%;">
            <li><%= user.firstname.capitalize %> <%= user.lastname.capitalize %></li>
            <li><%= user.type%></li>    
                <li><%user.specialities.each do |spec| %>
                    <%= spec.name %>
                <%end%></li>
        </ul>        
        <%= link_to "remove", delete_team_member_path(:team_id => team.id, :user_id => user.id) , :method => :delete %>   
        <%end%>
        <%= link_to "add member", team_members_path(:team_id => team.id) %>
    <%end%>
</div>