<div class="container mt-4">
    <br>
    <h2 style="text-align: center;">All Staff</h2>
    <div class="card p-4">
    <% @users.each do |user| %>
        <div class="card p-4 mb-2">
            <img src="<%=user.photo%>" alt="" style="width:50px; height:50px; border-radius:50%;">   
            <br>  
            <p><%= user.firstname %> <%= user.lastname %></p>
            <p><%= user.type %></p>
            <%= link_to "Select", team_members_path(:team_id => @team.id, :user_id => user.id), :method => :post, class: "btn btn-secondary" %>
        </div>
    <%end%>
    <%= link_to "Back to teams", teams_path, class: "btn btn-dark" %>
</div>
</div>